@CHARSET "UTF-8";
#handshake-attention {
  background-color: #aa7733;
  color: #fff;
}

#handshake-no-new {
  background-color: #99AA55;
}

#handshake-no-reviewed {
  background-color: #99AA55;
}

#handshake-no-flagged {
  background-color: #99AA55;
}

#handshake-no-upgrades {
  background-color: #99AA55;
}

#handshake-extensions {
  background-color: #aa7733;
  color: #fff;
}

#handshake-no-extensions {
  background-color: #99AA55;
}

#handshake-change-mind {
  background-color: #aa7733;
  color: #fff;
}

#handshake-no-rejected {
  background-color: #99AA55;
}

#handshake-submitted {
  background-color: #aa7733;
  color: #fff;
}

#handshake-no-outstanding {
  background-color: #99AA55;
}

#handshake-initiated {
  background-color: #aa7733;
  color: #fff;
}

#view-handshake {
  padding: 5px;
  border: 2px dotted #000000;
}

